
TheBoops/.vs/ProjectEvaluation/theboops.projects.v7.bin
TheBoops/.vs/TheBoops/DesignTimeBuild/.dtbcache.v2
TheBoops/.vs/TheBoops/FileContentIndex/33aa1278-db42-4f46-b9dc-64b121162275.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/4394c523-3384-4fed-a7b5-7dc10cd80925.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/7ac170e2-acd1-45be-b5a7-19e2c89cecec.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/86b84836-25a4-449f-852f-60e683595ae3.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/94653007-bfd8-4239-87c5-f454fbc4ea8a.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/a324bee2-539f-4b5d-a469-40c1667ff781.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/b8c44cd9-14a3-41da-9b04-c469a7226b55.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/c1319397-1150-4146-9460-19a8b494c87e.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/c624c217-3972-4ee6-9f56-286795c92baf.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/ea8ddfbe-24b7-414f-9187-1e40ca9375f7.vsidx
TheBoops/.vs/TheBoops/v17/.futdcache.v2
TheBoops/.vs/TheBoops/v17/.suo
TheBoops/TheBoops/MauiProgram.cs
TheBoops/.vs/ProjectEvaluation/theboops.projects.v7.bin
TheBoops/.vs/TheBoops/DesignTimeBuild/.dtbcache.v2
TheBoops/.vs/TheBoops/FileContentIndex/33aa1278-db42-4f46-b9dc-64b121162275.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/7ac170e2-acd1-45be-b5a7-19e2c89cecec.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/94653007-bfd8-4239-87c5-f454fbc4ea8a.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/a324bee2-539f-4b5d-a469-40c1667ff781.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/c624c217-3972-4ee6-9f56-286795c92baf.vsidx
TheBoops/.vs/TheBoops/v17/.futdcache.v2
TheBoops/.vs/TheBoops/v17/.suo
TheBoops/TheBoops/MauiProgram.cs
TheBoops/.vs/TheBoops/v17/.suo
TheBoops/.vs/TheBoops/v17/.futdcache.v2
TheBoops/.vs/TheBoops/FileContentIndex/c624c217-3972-4ee6-9f56-286795c92baf.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/a324bee2-539f-4b5d-a469-40c1667ff781.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/94653007-bfd8-4239-87c5-f454fbc4ea8a.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/7ac170e2-acd1-45be-b5a7-19e2c89cecec.vsidx
TheBoops/.vs/TheBoops/FileContentIndex/33aa1278-db42-4f46-b9dc-64b121162275.vsidx
TheBoops/.vs/TheBoops/DesignTimeBuild/.dtbcache.v2
TheBoops/.vs/ProjectEvaluation/theboops.projects.v7.bin
TheBoops/.vs/ProjectEvaluation/theboops.metadata.v7.bin
